{%extends 'activity/base.html' %} {% block body %}
<div class="container container-fluid" id="" style="">
  <div class="col-xs-12" style="height: px">
    <div
      class="col-xl-6 offset-md-4 offset-xl-4 offset-lg-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"
    >
      <h4 class="text-left">Activity page</h4>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-4 offset-md-4 offset-xl-4 offset-lg-4">
      <div class="row text-center">
        <h6>activity : {{activity_details.activity}}</h6>
      </div>
      <div class="row text-center">
        <h6>activity type : {{activity_details.activity_type}}</h6>
      </div>

      <div class="row text-center">
        <h6>
          link :
          <a href="{{activity_details.link}}"></a>{{activity_details.link}}
        </h6>
      </div>
      <div class="row text-center">
        <h6>accessibility : {{activity_details.accessibility}}</h6>
      </div>
    </div>
  </div>
</div>

{% endblock %}
