<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title%} Bored  Api Call {% endblock %}</title>

    {% load static %}


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,500i,900,900i' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


   
    

</head>


<style>

</style>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light hide_tag">
        <a class="navbar-brand" href="{% url 'activity:homepage' %}" style="color:#ee6d83; font-weight: bold;">
            Home page<span class=""></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav">
                {% if  user.is_authenticated %}
                <li class="loggedin-user-name" style="color:#696969">
                    <a>
                        <span class="" style="color:#000000" aria-hidden="true">
                        </span>&nbsp;{{user}}
                    </a>
                </li>

                <li class="loggedin-user-name" style="color:#696969">
                    <span aria-hidden="true" style="color:#ffffff"> </span>&nbsp;
                </li>

                {% else %}


                
                <li class="" style="color: #ffffff">
                    <a href="{% url 'activity:login_page' %}" style="color:#A9A9A9">
                        <span class="fa fa-sign-in" style="color:#A9A9A9" aria-hidden="true"></span>&nbsp;Login
                    </a>
                </li>

                {% endif %}

                {% if  user.is_authenticated %}
                <li class="" style="color: #ffffff">
                    <a href="{% url 'activity:logout_page' %}" style="color:#A9A9A9">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="fa fa-sign-out" style="color:#A9A9A9" aria-hidden="true"></span>Logout
                    </a>
                </li>

                {% endif %}




            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row" style="height:15px;">

        </div>
        {% block body %}
        {% endblock %}


    </div>

    <div style="height:400px;" class=""> </div>

    <footer class="page-footer font-small purple pt-4 hide_tag" style="background-color:#ee6d83;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row" style="color: floralwhite;">

                <!-- Grid column -->
                <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 mb-md-0 mb-1">
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4  mb-md-0 mb-4">

                    <!-- Content -->
                    <p style="height:5px;"></p>
                    <h6 class="text-justify" style="color:#F2F3F4; font-size:16px;">
                      This website used for Checking the api call for each user
                    </h6>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->

                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-md-0 mb-2">
                    <!-- <h1 style="color: crimson;">yghj</h1>ghhji -->
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5  mb-md-0 mb-5">

                    <!-- Links -->
                    <h6 class="">About 
                    </h6>

                    <ul class="list-unstyled">
                        <li>
                            <a href="" style="font-size:16px;color:#F2F3F4;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; About us
                            </a>
                        </li>

                        <li>
                            <a href="" style="font-size:16px;color:#F2F3F4;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact us
                            </a>
                        </li>

                        <li>
                            <a href="" style="font-size:16px;color:#F2F3F4;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pricing
                            </a>
                        </li>

                    </ul>

                </div>


                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="=text-center py-4">

        </div>
        <!-- Copyright -->

    </footer>

</body>



{% block footer_scripts %}
<script>

</script>
{% endblock footer_scripts %}


</html>