{%extends 'activity/base.html' %} {% block body %}
<div class="container container-fluid" id="" style="">
  <div class="row text-center" style="height: 40px;"></div>
    
  <div class="col-xs-12" style="height: px">
   

    <div
      class="col-xl-6 offset-md-4 offset-xl-4 offset-lg-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"
    >
      <h4 class="text-left">Edit Activity</h4>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-4 offset-md-4 offset-xl-4 offset-lg-4">
      <div class="col-xs-12" style="height: 20px"></div>
      <form role="form" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="email">Activity:</label>
          <input
            type="text"
            class="form-control"
            name="activity"
            id="activity"
            value="{{activity_details.activity}}"
          />
        </div>

        <div class="form-group">
            <label for="email">Type:</label>
            <input
              type="text"
              class="form-control"
              name="type"
              id="type"
              value="{{activity_details.activity_type}}"
            />
          </div>
          <div class="form-group">
            <label for="email">Link:</label>
            <input
              type="text"
              class="form-control"
              name="link"
              id="link"
              value="{{activity_details.link}}"
            />
          </div>
          <div class="form-group">
            <label for="email">Accessibility:</label>
            <input
              type="text"
              class="form-control"
              name="accessibility"
              id="accessibility"
              value="{{activity_details.accessibility}}"
            />
          </div>
    

        <div class="text-center">
          <button
            type="submit"
            id="submit_button"
            name="submit_button"
            class="btn btn-danger"
          >
            <b> submit </b>
          </button>
        </div>

      </form>
    </div>
    <div
      class="col-xl-12 col-md-12 col-md-12 col-lg-12"
      style="height: 30px"
    ></div>

  </div>
</div>

{% endblock %}
