{%extends 'activity/base.html' %} {% block body %}
<div class="container container-fluid" id="" style="">
  <div class="col-xs-12" style="height: 30px"></div>
  {% if user.is_authenticated %}

  <div class="row text-center">
    Welcome 
    {% if user_details.admin == "yes" %}
    (admin)
    {% endif %}
    {{user}}
  </div>
  <div class="col-xs-12" style="height: 30px"></div>

  <div class="col-xs-12" style="height: px">
    {% for user_all_activity_i in user_all_activity %}
    <div class="row text-center">
      <div class="col-md-2">
        <p>
          Activity {{forloop.counter}}:
        </p>
      </div>
      <div class="col-md-6">
        <h6>
          <a
          href="{% url 'activity:activity_page' user_all_activity_i.pk %}"
        >
          {{user_all_activity_i.activity}}</a
        >
        </h6>
      </div>
      <div class="col-md-1">
        <h6>
          <a href="{% url 'activity:edit_activity_page' user_all_activity_i.pk %}">
          
            <button class="btn btn-sm btn-primary">Edit</button>
          </a>
        </h6>
      </div>
      {% if user_all_activity_i.user_details.admin == "yes" %}
      <div class="col-md-1">
        <h6>
          <a href="{% url 'activity:delete_activity_page' user_all_activity_i.pk %}">
          
            <button class="btn btn-sm btn-danger">Delete</button>
          </a>
        </h6>
      </div>
      {% endif %}

    </div>
    {% endfor %}
    <div class="col-xs-12" style="height: 30px"></div>


    <form class="" method="POST" role="form">
        {%  csrf_token %}
      <div class="offset-md-9 col-md-1 text-center">
        <button  type="submit" class="btn btn-primary btn-sm" name="one_more_activity" value="one_more_activity">
          one more activity
        </button>
      </div>
    </form>

    <div class="row" style="height: 10px;"></div>
    <div class="row justify-content-center" style="color: red;">
      {{warning}}
    </div>

    {% else %}

    <div
      class="col-xl-6 offset-md-4 offset-xl-4 offset-lg-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"
    >
      <h4 class="text-left">Signup Form</h4>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-4 offset-md-4 offset-xl-4 offset-lg-4">
      <div class="col-xs-12" style="height: 20px"></div>
      <form role="form" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="email">Email Id:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required="true"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password_value"
            required="true"
          />
        </div>

        <div class="form-group">
          <label for="type">Type</label>

          <select id="type" class="form-control" name="type">
            {% for user_select_type_i in user_select_type %}
            <option value="{{user_select_type_i}}">
              {{user_select_type_i}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="admin">Set Admin</label>

          <select id="admin" class="form-control" name="admin">
            <option value="no">no</option>

            <option value="yes">yes</option>
          </select>
        </div>


        <div class="text-center">
          <button
            type="submit"
            id="submit_button"
            name="submit_button"
            class="btn btn-danger"
          >
            <b> Login </b>
          </button>
        </div>

        <div class="text-center">{{warning}}</div>
      </form>
    </div>
    <div
      class="col-xl-12 col-md-12 col-md-12 col-lg-12"
      style="height: 30px"
    ></div>

    {% endif %}
  </div>

  {% endblock %}
</div>
