{%extends 'activity/base.html' %}

{% block body %}
<div class = "container container-fluid " id="" style="height:px;">

    <div class="col-xs-12" style="height:30px">
    </div>

    <div class="col-xl-6 offset-md-4  offset-xl-4  offset-lg-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <h4 class="text-left"> Signup Form  </h4>
    </div>
    <div class="col-xs-6  col-md-4 col-lg-4 offset-md-4  offset-xl-4  offset-lg-4">
        <div class="col-xs-12" style="height:20px"> </div>
        <form role="form" method="post" > {% csrf_token %}

                <div class="form-group">
                    <label for="email">Email Id:</label>
                    <input type="email" class="form-control" name="email" id="email" required="true">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password_value" required="true">
                </div>

                <div class="form-group">
                    <label for="type">Type</label>

                    <select id="type" class="form-control">
                        {% for user_select_type_i in user_select_type %}
                        <option value="{{user_select_type_i}}">{{user_select_type_i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" id="submit_button" name="submit_button" class="btn btn-danger">
                        <b> Login </b>
                    </button>
                </div>

            </form>
    </div>
    <div class="col-xl-12 col-md-12 col-md-12 col-lg-12" style="height:30px;">

    </div>

    <div class="col-xl-4 col-md-4 col-md-4 col-lg-4 offset-md-4  offset-xl-4  offset-lg-4" >
       
    </div>


    </div>
</div>

{% endblock %}